{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Aula</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <a href="/"><img src="{% static 'logo.png' %}" width="200px" /></a>

<div class="jumbotron text-center">
  <h1>Horarios</h1>
</div>
  
<div class="container">
  Por Aulas
    {% for aula in aulas %} 
    <p>
        <a href="aula/{{ aula.id }}">{{ aula.nombre }}</a>
    </p> 
    {% endfor %}
</div>


<div class="container">
  Por Docentes
    {% for maestro in maestros %} 
    <p>
        <a href="maestro/{{ maestro.id }}">{{ maestro.nombre }}</a>
    </p> 
    {% endfor %}
</div>

<div class="container">
  Por Generaciones
  {% for generacion in generaciones %} 
  <p>
      <a href="generacion/{{ generacion.id }}">{{ generacion.pe.clave }} Semestre: {{ generacion.semestre }} Gpo: {{ generacion.grupo }}        </a>
  </p> 
  {% endfor %}
</div>


</body>
</html>
